*{
  box-sizing:border_box;
}

body{
  font-family:"Karla", sans-serif;
  margin:0;
  background:#F4D9D0;
}


main{
  padding:36px;

}






.header{
  display:flex;
  align-items:center;
  height:55px;
  background: linear-gradient(90deg, #921A40 1.18%, #C75B7A 100%);
  color:white;
  padding:20px;

}

.header-image {
  height: 100%;
  margin-right: 6px;
}

.header-title {
  font-size: 1.75rem;
  margin-right: auto;
  cursor: pointer;
}

.header-project {
  font-size: 1.25rem;
  font-weight: 500;
}




.form{
  display:grid;
  grid-template:40px 40px / 1fr 1fr; 
  gap:17px;
  
}


.form-input{
  font-family:"Karla", sans-serif;
  border-radius:5px;
  border:1px solid  D5D4D8;
  text-indent: 5px;

}

.form-button{
  grid-column: 1 / -1;
  font-family:"Karla", sans-serif;
  border-radius:5px;
   background: linear-gradient(90deg, #921A40 1.18%, #C75B7A 100%);
  color:white;
  border:none;
  cursor:pointer;

}




.meme-image {
    max-width: 100vh;
    height: 65vh;
    margin-top:20px;
    border: 3px solid #004d4d;
    border-radius: 4px;
}

.memeTopText, .memeBottomText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2em;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    width: 90%;
    word-wrap: break-word;
    padding: 0 10px;
}

.memeTopText {
    top: 250px;
}

.memeBottomText {
    bottom: 120px;
}
